<%-include("header.ejs")%>
<h1 class="edit-create">
  <%= heading %>
</h1>
<div class="container create-page">
<% if (locals.post) { %>
  <form method="post" action="/api/posts/<%=post.id%>">
    <input type="text" name="title" value="<%=post.title %>">
    <textarea name="content" rows="10"><%=post.content %></textarea>
    <input type="text" name="author" value="<%=post.author %>">
    <button class="btn-dark" type="submit">
      <%= submit %>
    </button>
  </form>
  <% } else {%>
    <form method="post" action="/api/posts">
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="content" placeholder="Content" required rows="10"></textarea>
      <input type="text" name="author" placeholder="Author" required>
      <button class="btn-dark" type="submit">
        <%= submit %>
      </button>
    </form>
    <% } %>

<%-include("footer.ejs")%>